<!DOCTYPE html>
<html lang="fr">
    <head>

        {# Encodage standard des caractères pour le web #}
        <meta charset="UTF-8">

        {# Minimum de Responsive Design à toujours mettre en place #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# Le titre de la page #}
        <title>{% block title %}{% endblock %}</title>

        {# La description de la page #}
        <meta name="description" content="{% block description %}{% endblock %}">

        {# Autorisation aux robots des moteurs de recherche d'indexer et de suivre la page #}
        <meta name="robots" content="index, follow">

        {# Les mots clés de la page #}
        <meta name="keywords" content="{% block keywords %}{% endblock %}">

        {# Google font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        {# Lien css de Bootstrap 5 #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# Lien js de Bootstrap 5 #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {# Navbar #}
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{path('app_visitor_welcome')}}">JD</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{path('app_visitor_welcome')}}">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Qui suis-je?</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_visitor_blog')}}">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_visitor_contact')}}">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto">
                        {% if app.user %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_logout')}}">Déconnexion</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_login')}}">Connexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('app_register')}}">Inscription</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {# Main #}
        <main>
            {% block main %}{% endblock %}
        </main>

        {# Footer #}
        <footer>
            <span>Dwwm</span>
        </footer>
    </body>
</html>